<configuration>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>
 	
 	<property scope="local" name="logfile.path" value="${catalina.home:-${user.home}}" />
 	
     <appender name="filelog" class="ch.qos.logback.core.rolling.RollingFileAppender">
       <File>${catalina.home}/logs/itemscoring/itemscoring.log</File>
       <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
           <!-- daily rollover -->
           <FileNamePattern>itemscoring.%d{yyyy-MM-dd}.log</FileNamePattern>

           <!-- keep 30 days' worth of history -->
           <maxHistory>30</maxHistory>            
       </rollingPolicy>

       <encoder>
           <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
       </encoder>         
     </appender>
 
    <logger name="tds.itemscoringengine" level="info" />
    <logger name="qtiscoringengine" level="info" />
    <logger name="tinyctrlscoringengine" level="info" />
    <logger name="tinygrscoringengine" level="info" />
    <logger name="tinyGRScoringEngine1" level="info" />
    <logger name="tinyequationscoringengine" level="info" />
    <logger name="tinytablescoringengine" level="info" />
    <logger name="TDS.Shared" level="info" />
    <logger name="AIR.Common" level="info" />
    <logger name="org.springframework.data" level="info" />
    <logger name="org.springframework.core" level="info" />
    <logger name="org.springframework.beans" level="info" />
    <logger name="org.springframework.context" level="info" />
    <logger name="org.springframework.web" level="info" />
    
    <root level="INFO">
        <appender-ref ref="filelog" />
    	<appender-ref ref="consoleAppender" />
     </root>
</configuration>